* {
    box-sizing: border-box;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .carrousel_parent-ecrans {
    display: flex;
    width: 100% ;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }
  
  .carrousel_ecran {
    flex: none;
    width: 100%;
    box-sizing: border-box;
  }
  
  .carrousel_ecran figure {
    margin: 0;
  }
  