body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #fff;
  background-color: #000;
}

  img {
    display: block;
    max-width: 85%;
    margin: 0 auto;
    height: auto;
  }
  
  .carrousel_parent-ecrans {
    display: flex;
    width: 100% ;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  
  .carrousel_ecran {
    flex: none;
    width: 100%;
    box-sizing: border-box;
  }
  
  .carrousel_ecran figure {
    margin: 0;
  }

  .carrousel {
    position: relative;
  }
  
  .carrousel_btn {
    position: absolute;
    top: 30%;
    top: calc(
      min(500px, 60vw) / 16 * 9 / 2 + 1rem
    ); /* centre verticalement ~50% vertical */
    transform: translateY(-30%); /* methode du point mort */
    width: 2rem;
    height: 2rem;
    background: rgba(0,0,0,0.5);
    border-radius: 30%;
    border: none;
    display: grid;
    place-content: center;
    color: #fff;
  }
  
  .carrousel_btn-avant {
    left: 0;
  }
  
  .carrousel_btn-apres {
    right: 0;
  }
  /* en vrac :
0  1rem display flex gap  list-style 
*/
  .caroussel_liste-liens {
    justify-content: center;
    display: flex; /* aligne horizontalement les enfants */
    justify-self: center;
    margin-left: 0 auto; /* enlève les marges par défaut */
    padding: none ; /* enlève les padding par défaut */
    list-style: none ; /* enlève les puces par défaut */
    gap: 2rem; /* espace entre les enfants */
  }

  .actif {
    background-color: #fff;
    color: #000;
  }
  